header{
    background-color: #aa0239;
}
.logo img {
    width:130px;
    height:100px;
    border-radius: 20%
}

.artic img{
    border-radius: 80%;
    width:130px;
    /*width:30%*/
    height:100px;
}
li{
    display: inline-block;
}
.logo{
    display:inline-block;
    padding:20px;
}
.title{
    display:inline-block;
    margin-right:200px;
}
.types{
    display:inline-block; 
}
.types li{
    margin-right: 20px;
}
.artic p{
    text-align:center;
    background-color:bisque;
    border-radius:15%;
}
.artic{
    background-color: aqua;
}
.button{
    border:dashed 2px orange;
    width:100px;
    margin: 0 auto;
    text-align:center;
    border-radius:8px;
    background-color: lightgreen;
    color: #aa0239;
    cursor:pointer;
}
.button:hover{
    background-color: rgb(4, 206, 78);
}

.back{
    background-color: rgb(39, 158, 221);
    margin:10px;
}
article{
    display:inline-block;
    width: 29%;     
    height: 300px;                                                                                                                                                                                                                                     
}

.text{
    background-color: bisque;
    /* height: 50%; */
}
.artic .back .img{
    /* align-items: center; */
}
.artic .back img{
    margin: 0 auto;
    display: block;
}
.text {
    height: 200px;
    position: relative;
}


